header {
    font-size: large;
    font-style: italic;
    color: rgb(0, 0, 0);
    background-color: pink;
}

li {
    display: inline;
    font-weight: bold;
    display: left;
    font-size: 20px;
  }

p{
    color: rgb(102, 0, 133);
    background-color: pink;

}

body{
  background-color: rgb(191, 152, 228);
  text-align: center; 
  text-justify:auto;
}

img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
}

img:hover {
  box-shadow: 0 0 2px 1px rgba(211, 59, 178, 0.5);
}

nav {
  background-color: rgb(255, 0, 212);
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: rgb(150, 35, 150);
  text-decoration: none;
}

nav ul li a:hover {
  color: rgb(235, 26, 148); 
}

footer {
  background-color: pink;
  padding: 20px;
  text-align: center; 
}